.about{
	width: 100%;
	aspect-ratio:1456/900;
	max-height: 500px;
	position: relative;
	overflow: hidden;
	.container{
		position: relative;
		z-index: 2;
		height: 100%;
	}
	.about-content{height: 100%;}
	@media (max-width: 767px) {
	max-height: unset;
	aspect-ratio: unset;
	}
}
.about-content, .about-bg{
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media (max-width: 767px) {
	 grid-template-columns: 1fr;
	 .about-bg{display: none;}
	}
	
}

.about-bg{
	position: absolute;
	inset: 0;
	z-index: 1;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&:before{
		content: '';
		inset:0;
		position: absolute;
		background: rgba(0,0,0, .5);
	}
}
.about-left, .about-right{
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding-block: 60px;
	@media (max-width: 1279px) {
	   padding-block: 40px;
	}
	@media (max-width: 767px) {
	 margin-left: -16px;
	 margin-right: -16px;
	 padding-left: 16px;
	 padding-right: 16px;
	}
}
.about-left{
	&__title{
		color: white;
		font-size: 48px;
		font-weight: 700;
		position: relative;
		width: fit-content;
		font-style: italic;
		margin-bottom: 1em;
		&:after,&:before{
			content: '';
			position: absolute;
			top:50%;
			
			display: block;
		}
		// &:after{
		// 	left: 0;
		// 	width: 20px;
		// 	height: 10px;
		// 	background-color: #fff;
		// 	transform: translate(-100%, -50%);
		// }
		&:before{
			right: 0;
			width:200%;
			height: 1px;
			border-radius: 5px;
			background-color: #fff;
			transform: translate(110%, -50%);
			z-index: 2;
		}
	}
	&__text{
		max-width: 450px;
		padding-right: 30px;
	}
	.font-26{
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 12px;
	}
	p{
		font-size: 20px;
		line-height: 1.6;
	}
	@media (max-width: 1279px) {
	  
	   &__title{
		font-size: 40px;
	   }
	   .font-26{font-size: 22px;}
	  p{font-size: 18px;}
	}
	@media (max-width: 767px) {
	  background-image: url('../img/about.webp');
	  background-size:cover;
	  background-repeat: no-repeat;
	}
	
}

.about-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 60px;
	&__title{
		font-size: 36px;
		margin-bottom: 1em;
		font-weight: 700;
	}
	p{
		font-size: 24px;
		font-weight: 500;
		font-style: italic;
		line-height: 1.4;
	}
	.btn.btn-red{
		margin-top: 40px;
		margin-inline: auto;
		max-width: 280px;
		width: 100%;
	}
	@media (max-width: 1279px) {
	   padding-left: 40px;
	   &__title{
		font-size: 30px;
	   }
	   p{font-size: 20px;}
	}
	@media (max-width: 767px) {
	  background-image: url('../img/about2.webp');
	  background-size:cover;
	  background-repeat: no-repeat;
	  	
	}
}
.about-right, .about-left{
	@media (max-width: 767px) {
		&:before{
			content: '';
			position: absolute;
			inset: 0;
			background-color: rgba(0,0,0, .4);
			z-index: 1;
		}
		&>*{position: relative;
		z-index: 2;}
	}
}