.icon-trip{
	width: 40px;
	display: block;
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3e%3cpath d='M175.335 281.334c0 24.483-19.853 44.336-44.336 44.336-24.484 0-44.337-19.853-44.337-44.336 0-24.484 19.853-44.337 44.337-44.337 24.483 0 44.336 19.853 44.336 44.337zm205.554-44.337c-24.48 0-44.336 19.853-44.336 44.337 0 24.483 19.855 44.336 44.336 44.336 24.481 0 44.334-19.853 44.334-44.336-.006-24.47-19.839-44.31-44.309-44.323l-.025-.01v-.004zm125.002 44.337c0 68.997-55.985 124.933-124.999 124.933a124.466 124.466 0 01-84.883-33.252l-40.006 43.527-40.025-43.576a124.45 124.45 0 01-84.908 33.3c-68.968 0-124.933-55.937-124.933-124.932A124.586 124.586 0 0146.889 189L6 144.517h90.839c96.116-65.411 222.447-65.411 318.557 0H506l-40.878 44.484a124.574 124.574 0 0140.769 92.333zm-290.31 0c0-46.695-37.858-84.55-84.55-84.55-46.691 0-84.55 37.858-84.55 84.55 0 46.691 37.859 84.55 84.55 84.55 46.692 0 84.545-37.845 84.55-84.54v-.013.003zM349.818 155.1a244.01 244.01 0 00-187.666 0C215.532 175.533 256 223.254 256 278.893c0-55.634 40.463-103.362 93.826-123.786l-.005-.006h-.003zm115.64 126.224c0-46.694-37.858-84.55-84.55-84.55-46.691 0-84.552 37.859-84.552 84.55 0 46.692 37.855 84.55 84.553 84.55 46.697 0 84.55-37.858 84.55-84.55z' fill='%230d210b' fill-rule='nonzero'/%3e%3c/svg%3e");
	background-size: contain;
	background-repeat: no-repeat;
}
.review{
	padding-block: 60px;
	background-color: #f8efe0;
	background-image: url('../img/review-bg.webp');
	background-size: cover;
	overflow: hidden;
	@media (max-width: 767px) {
	  padding-block: 40px;
	}
}
.review-swiper{
	padding-bottom: 20px;
	.swiper-pagination{
		bottom: 0;
		display: flex;
		justify-content: center;
		column-gap: 5px;
	}
	.swiper-pagination-bullet{
		margin: 0;
		height: 4px;
		width: 40px;
		background: #9d7255;
		transition: .3s;
		opacity: .6;
		border-radius: 2px;
		&-active{background: #532a0d}
		@media (max-width: 767px) {
		 width: 24px; 
		}
	}
	@media (min-width: 480px) and (max-width: 1023px) {
		width: calc(50% + 50vw);
	.swiper-slide{
		
		width: 480px!important;
	}
	}
}
.review-title{
	text-align: center;
	margin-bottom: 30px;
	.h2{color: #401f19;}
	
}
.review-subtitle, .rating-item{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}
.trip-item img{
	width: 150px;
	aspect-ratio: 200/35;
}
.rating-value{
	color:#401f19;
	font-size: 24px;
	font-weight: 700;
	img{
		width: 75px;
		aspect-ratio: 150/47;
	}
}
.review-card{
	padding: 30px;
	background-image: url('../img/review-slide-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: white;
	display: flex;
	column-gap: 20px;
	width: 100%;
	&__img{
		width: 100px;
		height: 100px;
		flex-shrink: 0;
		border-radius: 50%;
		border: 5px solid white;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	@media (max-width: 767px) {
	  padding: 24px 20px;
	  column-gap: 12px;
	  &__img{
		width: 60px;
		height: 60px;
	  }
	}
}
.review-card__name{
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 8px;
	@media (max-width: 767px) {
	font-size: 22px;
	}
}
.review-card__txt{
	font-size: 20px;
	line-height: 1.4;
	@media (max-width: 767px) {
	font-size: 16px;
	}
}
.review-card__stars{
	width: 100px;
	height: 20px;
	display: inline-block;
	background-image: url('../img/stars.svg');
	background-size: contain;
	background-size: 100px 20px;
	background-repeat: no-repeat;
	margin-bottom: 8px;
}
.review-swiper .swiper-slide{
	display: flex;
	min-height: unset;
	height: unset;
}