//ABOUT
section.about
	.about-bg
		.about-bg-img
			img(src='./img/about.webp', srcset='./img/about@2x.webp 2x' width='1456' height='900' loading='lazy' alt='img')
		.about-bg-img
			img(src='./img/about2.webp', srcset='./img/about2@2x.webp 2x' width='1456' height='900' loading='lazy' alt='img')
	.container
		.about-content
			.about-left.shad-txt
				.about-left__title О нас
				.about-left__text
					.font-26 Традиции и гостеприимство 
					p Добро пожаловать в "Вах! Хинкали!", место, где грузинские традиции сочетаются с теплом и вкусной едой!
			.about-right.shad-txt
				.about-right__title Попробуйте наши блюда!
				p Хинкали, шашлыки,<br>хачапури и многое другое!
				a(href="#!").btn.btn-red Смотреть меню