//BENEFITS
section.benefits
	.container
		.benefits-list
			.benefit-item
				img(src='./img/ben1.webp' srcset="./img/ben1@2x.webp" width='63' height='45' loading='lazy' alt='img')
				span.benefit-text Лучшие хинкали в городе
			.benefit-item
				img(src='./img/ben2.webp' srcset="./img/ben2@2x.webp"  width='83' height='45' loading='lazy' alt='img')
				span.benefit-text Доставка за 30 минут!
			.benefit-item
				img(src='./img/ben3.webp'  srcset="./img/ben3@2x.webp" loading='lazy' alt='img' width='73' height='45')
				span.benefit-text Уютная атмосфера